.column {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-left:opx;
}
.menu h2{
	text-align: center;
	display: inline-block;
	position: relative;
	left: 450px;
}
nav li{
	list-style: none;
	display: inline-block;
	position: relative;
	left: 350px;
	margin-right: 50px;
}
nav a{
	text-decoration: none;
	color: #000;
}
/* donde empieza el mapa hasta aqui va ok*/
.visitanos{
	background-color: #06022C;
	color: #fff;
	width: 98%;
	height: 380px;
	margin-top: -15px;
	position: relative;
	left: 10px;
}
.visitanos p, h3{
	position: relative;
	left: 80px;
	top: 50px;
	width: 20%;
	font-size:14px;
}
.mapa{
	position: relative;
	left: 650px;
	top:-220px;
}
.contacto {
	margin:20px;
	padding:10px;
	position: relative;
	top: 30px;
	left: -300px;
	top: -190px;
	height: 10px;
}
.contacto label {
	display: inline-block;
	font-weight: bold;
	border: solid 1px grey;
	width: 450px;
	height: 40px;
	position: relative;
	left: -300px;
	top: -190px;
}
.contacto div{
	margin:10px;
	padding:10px;

}
input{
	background-color: #06022C;
	width: 450px;
	height: 40px;
	color: grey;
	position: relative;
	left: -300px;
	top: -190px;
}
.ballet img{
	position: relative;
	float: right;
	image-rendering: 50%;
}
footer{
	background-color: #06022C;
	color: grey;
	font-size: 16px;
	text-align: left;
	height: 50px;
	margin-top: 10px;
	width: 100%;
	position: relative;

}
footer p{
	margin:10px;
	padding: 10px;
}