/* comienza el menu hasta el boton de inscribete*/
.column {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-left:0px;
}
.banner{
	background-image: url(../img/dance_1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 280px;
	width: 100%;

}
.banner h1{
	font-family: 'Neoteric-bold';
	font-size: 60px;
	color: #B0B0B0;
	display: inline-block;
	position: relative;
	left: -130px; 
	top:20px;
	margin:5px;
}
.banner p{
	font-family: 'Latolight';
	font-size: 12px;
	color: #B0B0B0;
	position: relative;
	left: 50px; 
	top: 90px;
	text-align: center;
}
button{
	top: 100px;
	position: relative;
	left: 70px;
	width: 120px;
	height: 40px;
	background-color: #06022C;
	border: solid 1px #06022C; 
	text-align: center;
}
.banner a{
	text-decoration: none;
	color: #B0B0B0;
}
/*primera parte del section hasta el boton de clases*/
.fondo1{
	background-image: url(../img/textura_2.jpg);
	background-size: cover;
	height: 280px;
	width:100%;
	font-size: 24px;
	font-family: 'Neoteric-Regular';
	text-align:center;
}
.fondo1 p{
	margin-top: 40px;
	position: relative;
	left:200px;
	
}
.fondo1 img{
	width: 150px;
	height: 150px;
	position: relative;
	left: 300px;
	top:-60px;
}
.fondo1 button{
	width: 250px;
	height: 50px;
	border-radius: 5px;
	position: relative;
	left: 100px;
	top:-60px;
}
.fondo1 a{
	text-align: center;
	text-decoration: none;
	font-family: 'Neoteric-Regular';
	color: #B0B0B0;
	font-size: 18px;
}/*profesores foto en duo*/
.left{
	background-image: url(../img/instructor_4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 49%;
	height: 310px;
	position: relative;
	top:-40px;
	border:1px solid #06022C;
	right: -4px;
}
.right{
	background-image: url(../img/kimmendez.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 50%;
	height: 310px;
	position: relative;
	top:-40px;
	right: 4px;
	border:1px solid #06022C;
}
.prof p{
	border: solid 1px #06022C;
	width: 400px;
	height: 50px;
	position: relative;
	left: 230px;
	bottom: 125px;
	text-align: center;
	padding:8px;
	font-size: 16px; 
	color:#fff;
	background-color:#06022C;
}
.fondo2{
	background-image: url(../img/textura_2.jpg);
	width: 100%;
	margin-top: -142px;
	height: 230px;
	font-size: 36px;
	font-family: 'DolceVita-ligth';
	text-align:center;
	display: inline-block;
}
.fondo2 p{
	margin-top: 80px;
	position: relative;
	left: 180px;
}
